/* User Reviews Section */
.userReviewsSection {
	background-color: var(--color-white);
	position: relative;
	overflow: hidden;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.carouselWrapper {
	position: relative;
	min-height: 326px;
	overflow: hidden;
}

.swiper {
	width: 100%;
	height: 100%;
	/* padding: 0 91px; */
}

.slide {
	width: 306px !important;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Gradient overlays for smooth edges */
.gradientLeft {
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
	height: 100%;
	background: linear-gradient(to right, var(--color-white), rgba(255, 255, 255, 0));
	z-index: 10;
	pointer-events: none;
}

.gradientRight {
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
	height: 100%;
	background: linear-gradient(to left, var(--color-white), rgba(255, 255, 255, 0));
	z-index: 10;
	pointer-events: none;
}

@media screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
	/* Configure slide width same as RatingCard width below 768px  */
	.slide {
		width: 275px !important;
	}

	.carouselWrapper {
		min-height: 244px;
	}
}
