.header {
	gap: 10px;
	width: 100%;
	height: 146px;
	background-color: var(--color-white);
	box-sizing: border-box;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	padding: 10px;
}

.logoAndLinks {
	display: flex;
	gap: 83px;
	align-items: center;
}

.logoContainer {
	height: 65px;
	width: 202px;
	position: relative;
	flex-shrink: 0;
}

.logo {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.navigation {
	display: flex;
	gap: 28px;
	align-items: center;
	font-family: var(--font-primary);
	font-weight: 400;
	font-size: var(--header-navLink-ds);
	line-height: 1.41;
	color: var(--secondary);
	text-transform: capitalize;
	letter-spacing: -0.4px;
	white-space: nowrap;
}

.navLink {
	color: var(--secondary);
	text-decoration: none;
	transition: color 0.2s ease;
}

.navLink:hover {
	color: var(--dark-green);
}

.buttonsContainer {
	display: flex;
	gap: 16px;
	align-items: flex-start;
}

.menuBtn {
	display: none !important;
}

/* Hide navigation and buttons container below large viewport */
@media screen and (max-width: 1280px) {
	.header {
		height: 86px;
	}

	.logoContainer {
		height: 37px;
		width: 115px;
	}

	.navigation {
		display: none;
	}

	.buttonsContainer {
		display: none;
		gap: 11px;
	}

	.menuBtn {
		display: flex !important;
	}
}
