/* Main Section */
.section {
	width: 100%;
	background-color: var(--white);
}

.container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 60px;
}

/* Content Section */
.contentSection {
	display: flex;
	gap: 47px;
	align-items: flex-start;
}

/* Image Section */
.imageSection {
	flex: 0 0 631px;
}

.imageContainer {
	position: relative;
	width: 100%;
	height: 771px;
	border-radius: 20px;
	overflow: hidden;
}

.serviceImage {
	object-fit: cover;
	object-position: center;
}

/* Services Section */
.servicesSection {
	flex: 1;
	margin-top: 15px;
	width: 100%;
}

@media screen and (max-width: 1280px) {
	.container {
		gap: 30px;
	}

	.contentSection {
		flex-direction: column;
		gap: 30px;
	}

	.imageSection {
		flex: none;
		width: 100%;
	}

	.imageContainer {
		height: 216px;
		aspect-ratio: 16 / 9;
	}

	.servicesSection {
		margin-top: 0;
	}
}
