.hero {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.heroWithGradient {
	background-image: linear-gradient(278deg, rgba(19, 64, 33, 0) 20.23%, rgba(19, 64, 33, 0.91) 70.16%), var(--bg-image);
}

.heroWithoutGradient {
	background-image: var(--bg-image);
}

@media screen and (max-width: 1024px) {
	.heroWithGradient {
		background-image:
			linear-gradient(
				279deg,
				rgba(19, 64, 33, 0.67) -17.26%,
				rgba(19, 64, 33, 0.3) -4.92%,
				rgba(19, 64, 33, 0.23) 9.04%,
				rgba(19, 64, 33, 0.46) 17.52%,
				rgba(19, 64, 33, 0.58) 24.79%,
				rgba(19, 64, 33, 0.67) 32.35%
			),
			var(--bg-image);
	}
}

@media screen and (max-width: 768px) {
	.heroWithGradient {
		background-image: linear-gradient(303deg, rgba(19, 64, 33, 0) -81.69%, rgba(19, 64, 33, 0.75) 22.26%), var(--bg-image);
	}
}
