/* FAQ Section */
.faqSection {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	margin: 0 auto;
}

.faqHeader {
	width: 736px;
	text-align: center;
}

.faqContainer {
	width: 100%;
}

/* Custom FAQ Accordion Styles */
.faqAccordion {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

@media screen and (max-width: 786px) {
	.faqSection {
		gap: 32px;
	}
	.faqHeader {
		width: 100%;
	}

	.faqContainer {
		max-width: 100%;
	}
}
