/* Section container */
.section {
	width: 90%;
	padding: 0;
	margin: 0 auto;
}

/* Main content container */
.content {
	display: flex;
	gap: 135px;
	align-items: flex-start;
	width: 100%;
}

.sectionReverse .content {
	flex-direction: row-reverse;
	justify-content: flex-end;
}

/* Image container */
.imageContainer {
	position: relative;
	height: 564px;
	width: 636px;
	border-radius: 20px;
	flex-shrink: 0;
	overflow: hidden;
}

/* Image styling */
.image {
	object-fit: cover;
	object-position: 50% 50%;
	border-radius: 20px;
}

.textContainer {
	width: 525px;
	padding-top: 90px;
}

.textContainer h2 {
	text-align: start;
}

@media screen and (max-width: 1280px) {
	.imageContainer {
		width: 45%;
		aspect-ratio: 564/636;
	}
}

@media screen and (max-width: 1024px) {
	.content {
		flex-direction: column;
		gap: 32px;
		align-items: flex-start;
	}

	.sectionReverse .content {
		flex-direction: column;
		justify-content: flex-end;
	}

	.textContainer {
		width: 100%;
		padding-top: 0;
	}

	.imageContainer {
		width: 100%;
		height: 400px;
	}
}

@media screen and (max-width: 480px) {
	.imageContainer {
		width: 100%;
		height: 291px;
	}
}
