/* Accordion Container */
.accordion {
	width: 100%;
}

/* Accordion Item */
.accordionItem {
	width: 100%;
}

.accordionSecondary {
	background-color: var(--light-gray);
	border-radius: 10px;
	overflow: hidden;
}

.itemHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 74px;
	cursor: pointer;
	transition: all 0.3s ease;
	padding: 22px 0;
}

.accordionSecondary .itemHeader {
	background-color: var(--light-gray);
	padding: 20px 40px;
}

.itemHeader:hover {
	background-color: rgba(177, 207, 95, 0.05);
}

.itemTitle {
	font-family: var(--font-heading);
	font-weight: 600;
	font-size: var(--accordion-itemTitle-ds);
	line-height: 1.15;
	letter-spacing: -0.52px;
	color: var(--secondary);
	margin: 0;
	transition: color 0.3s ease;
	flex: 0.9;
}

.activeTitle {
	color: var(--hightlight-text);
}

.chevron {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33px;
	height: 33px;
	/* color: var(--secondary); */
	transition:
		transform 0.3s ease,
		color 0.3s ease;
}

.chevronRotated {
	transform: rotate(180deg);
	color: var(--hightlight-text);
}

.itemContent {
	padding-bottom: 20px;
	animation: slideDown 0.3s ease-out;
}

.accordionSecondary .itemContent {
	padding: 0 40px 20px;
}

.itemDescription {
	font-family: var(--font-body);
	font-weight: 400;
	font-size: var(--accordion-itemDescription-ds);
	line-height: 1.41;
	letter-spacing: -0.4px;
	color: var(--secondary);
	margin: 0;
	white-space: pre-line;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: var(--light-gray);
}

.itemDescription a {
	color: var(--hightlight-text);
	text-decoration: underline;
	font-weight: bold;
}

/* Animations */
@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Responsive Design */

@media screen and (max-width: 768px) {
	.itemTitle {
		font-size: var(--accordion-itemTitle-tb);
	}

	.chevron {
		width: 30px;
		height: 30px;
	}
}

@media screen and (max-width: 480px) {
	.itemTitle {
		font-size: var(--accordion-itemTitle-mb);
	}

	.itemDescription {
		font-size: var(--accordion-itemDescription-mb);
	}

	.itemHeader {
		min-height: 66px;
	}

	.accordionSecondary .itemHeader,
	.accordionSecondary .itemContent {
		padding: 21px 20px;
	}

	.accordionSecondary .itemContent {
		padding-top: 0;
	}

	.chevron {
		width: 22px;
		height: 22px;
	}
}
